{% extends "admin/admin_base.html" %}
{% load static %}
{% block admin %}

    <!-- Custom styles for this template -->
<body>


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" style="margin-top: 30px;">


            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div>
                    <h3><a href="{% url "view" %}">Go back to dashboard</a></h3>
                </div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h2 class="m-0 font-weight-bold ">Customers</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="width: 100%; border-collapse: collapse;">
                                <thead>
                                    <tr style="background-color: #f2f2f2;">
                                        <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Customer Id</th>
                                        <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">First Name</th>
                                        <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Last Name</th>
                                        <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Email</th>
                                        <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Phone</th>
                                        <th style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for customer in customers %}
                                    <tr>
                                        <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ customer.id }}</td>
                                        <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ customer.fname }}</td>
                                        <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ customer.lname }}</td>
                                        <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ customer.email }}</td>
                                        <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ customer.phone }}</td>
                                        <td style="padding: 8px; text-align: left; border-bottom: 1px solid #ddd;">{{ order.pstatus }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->

</body>



{% endblock admin %}
