<!-- review.html -->

{% extends 'admin/admin_base.html' %}  <!-- Assuming you have a base template -->

{% block admin %}
<div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">New Product Listings</h3>
      </div>
{% if pending_products %}
      <div class="table-responsive">
        <table class="table card-table table-vcenter text-nowrap datatable">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Seller</th>
              <th>Description</th>
              <th>Price</th>
              <th>Image</th>
              <th>Ingredients</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for product in pending_products %}
            <tr>
                <td>{{ product.ProductName }}</td>
                    <td>{{ product.SellerID }}</td>
                    <td>{{ product.Description }}</td>
                    <td>{{ product.selling_price }}</td>
                    <td><img src="{{ product.image1.url }}" alt="" style="max-height: 200px;"></td>
                    <td>{{ product.Ingredients|safe }}</td>
                    
                    <!-- Display other product details as table columns -->
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.ProductID }}">
                            <button type="submit" class="btn btn-success" name="action" value="approve">Approve</button>
                            <button type="submit" class="btn btn-danger" name="action" value="reject">Reject</button>
                        </form>
                    </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% else %}
      <center><div class="container"><h1>No New Product Listings!!</h1></div></center>
{% endif %}

  {% endblock %}