{% extends "base.html" %}
{% load static %}
{% block title %}BagEasy.in{% endblock title %}BagEasy.in


{% block content %}
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{category_name}}</h4>
                <hr>
            </div>
            {% for item in products %}
            <div class="col-lg-3 col-md-4 mb-5 mr-3">
                <div class="card border-0" style="width: 18rem;">
                    <img class="card-img-top img-fluid" src="{{item.image1.url}}" alt="{{item.name}}" style="max-width: 400px;max-height: 350px;min-height:350px;">
                    <a href="{% url 'productsview' item.SubCategoryID item.ProductName %}">
                        <div class="card-body">
                            <h5 class="card-title text-center" style="color: dimgray;">{{item.ProductName}}</h5>
                            <p class="card-text">
                                <span style="color: rgb(114, 10, 10); font-size: 19px;">Rs. {{item.selling_price}}</span>
                                <span style="margin-left: 30px;color: gray;"><s>Rs. {{item.orginal_price}}</s></span>
                            </p>
                            <a href="{% url 'productsview' item.SubCategoryID item.ProductName %}" class="btn btn-dark" style="margin-top: 15px;margin-left: 70px;">View Details</a>
                          </div>
                        </div>
                    </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}