{% extends "base.html" %}
{% load static %}
{% block title %}SkinLuxe{% endblock title %}


{% block content %}
<style>
    .icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}
</style>
<nav aria-label="breadcrumb"class="mx-5 bg-info-subtle" style="padding: 15px; border-radius: 5px;">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#"style="text-decoration:none;">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'shop' %}"style="text-decoration:none;">Shop</a></li>
    <li class="breadcrumb-item"><a href="#"style="text-decoration:none;">{{products.SubCategoryID}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{products.ProductName}}</li>
  </ol>
</nav>
  <!-- content -->
  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6"style="background-image: url({% static 'images/background-pattern.jpg' %});">
          <div class="mb-3 d-flex justify-content-center">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <ol class="carousel-indicators">
                  <li data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"></li>
                  <li data-bs-target="#carouselExampleControls" data-bs-slide-to="1"></li>
                </ol>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="">
                    <img style="max-width: 100%; max-height: 60vh; margin: auto;" class="rounded-4 fit" src="{{products.image1.url}}" />
                  </a>
                </div>
                <div class="carousel-item">
                  <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="">
                    <img style="max-width: 100%; max-height: 60vh; margin: auto;" class="rounded-4 fit" src="{{products.image2.url}}" />
                  </a>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            
          </div>
          <!-- thumbs-wrap.// -->
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6"style="background-image: url({% static 'images/background-pattern.jpg' %});padding:10px;border: radius 20px;">

          <div class="ps-lg-3">
            <h4 class="title text-dark">
                {{products}}
            </h4>
            <div class="d-flex flex-row my-3">
              {% if products.StockQuantity > 0 %}
              <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{products.StockQuantity}}</span>
              <span class="text-success ms-2">In stock</span>
              {% else %}
              <span class="text-danger ms-2">Out of stock</span>
              {% endif %}
            </div>
            <div class="mb-3">
                <span class="text-muted">Current Price: Rs. <s>{{products.original_Price}}</s></span>
              </div>
            <div class="mb-3">
              <span class="h5">Offer Prize: {{products.selling_price}}</span>
            </div>
  
            <p>
                {{products.Description|safe}}
            </p>
  
            <div class="row">
              <dt class="col-3">Seller:</dt>
              <dd class="col-9">{{products.SellerID}}</dd>
  
              <!-- <dt class="col-3">Ingredients:</dt>
              <dd class="col-9">{{products.Ingredients}}</dd> -->
            </div>
  
            <hr />
  
            <div class="row mb-4">
              <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                {% if products.StockQuantity > 0 %}
                <label class="mb-2 d-block">Quantity</label>
                <input type="hidden" value="{{products.ProductID}}" id="pid">
                                    <p>
                                        <div class="input-group" style="width: 150px;">
                                            <button class="btn btn-danger" id="btnMinus"><i class="fa fa-minus"></i></button>
                                            <input type="text" name="qty" id="txtQty" value="1" class="form-control text-center">
                                            <button class="btn btn-success" id="btnPlus"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </p>
              </div>
            </div>
            
            <a href="#" class="btn btn-primary shadow-0" id="btnCart"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
            <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Save </a>
            {% else %}
            <a href="#" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-minus"></i> Out of Stock </a>
            {% endif %}
          </div>
        </main>
      </div>
    </div>
  </section>
  <!-- content -->
  
  <section class="bg-light border-top py-4">
    <div class="container">
      <div class="row gx-4">
        <div class="col-lg-8 mb-4">
          <div class="border rounded-2 px-3 py-2 bg-white">
            <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
              <li class="nav-item d-flex" role="presentation">
                <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Ingredients</a>
              </li>
              
            </ul>
            <!-- Pills navs -->
  
            <!-- Pills content -->
            <div class="tab-content" id="ex1-content">
              <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                <p>
                  {{products.Ingredients|safe}}
                  
                </p>
              </div>
              <div class="tab-pane fade mb-2" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                Some other tab content or sample information now <br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum.
              </div>
            </div>
            <!-- Pills content -->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="px-0 border rounded-2 shadow-0">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Similar items</h5>
                {% for item in product %}
                <div class="d-flex mb-3">
                  <a href="#" class="me-3">
                    <img src="{{item.image1.url}}" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                  </a>
                  <div class="info">
                    <a href="{% url 'productsview' item.SubCategoryID item.ProductName %}" class="nav-link mb-1">
                      {{item.ProductName}} <br />
                      {{item.SellerID}}
                    </a>
                    <strong class="text-dark">Rs. {{item.selling_price}}</strong>
                  </div>
                </div>
                {% endfor %}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  

  <script>
    document.addEventListener("DOMContentLoaded",function(event){
        const btnPlus = document.getElementById("btnPlus");
        const btnMinus = document.getElementById("btnMinus");
        const txtQty = document.getElementById("txtQty");
        const pid = document.getElementById("pid");
        const btnCart = document.getElementById("btnCart")

        btnPlus.addEventListener("click",function(){
            let qty = parseInt(txtQty.value,10);
            qty = isNaN(qty)?0:qty;
            if(qty<10){
                qty++;
                txtQty.value = qty;
            }
        });

        btnMinus.addEventListener("click",function(){
            let qty = parseInt(txtQty.value,10);
            qty = isNaN(qty)?0:qty;
            if(qty>1){
                qty--;
                txtQty.value = qty;
            }
        });

        btnCart.addEventListener("click",function(){
            let qty = parseInt(txtQty.value,10);
            qty = isNaN(qty)?0:qty;
            if(qty>0){
                let postObj = {
                    product_qty : qty,
                    pid : pid.value
                }
                console.log(postObj);
                fetch("/addtocart",{
                    method: 'POST',
                    credentials: 'same-origin',
                    headers:{
                        'Accept': 'application/json',
                        'X-Requested-With' : 'XMLHttpRequest',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify(postObj)
                }).then(response => {
                    return response.json()
                }).then(data =>{
                    // console.log(data);
                    alert(data['status'])
                });
            }else{
                alert("Please enter valid quantity")
            }
        });


    });
</script>
{% endblock content %}