{% extends "base.html" %}
{% load static %}
{% block content %}
<nav aria-label="breadcrumb"class="mx-5 bg-info-subtle" style="padding: 15px; border-radius: 10px;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#"style="text-decoration:none;">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'shop' %}"style="text-decoration:none;">Shop</a></li>
    </ol>
  </nav>
<div class="container">
    <div class="row">

        <div class="">
            
        </div>
        <div class="col-lg-9" style="margin-left: 75px; margin-top:30px">
            <h6>We have found <span style="font-weight: bold; font-size: larger;">{{products.count}}</span> items for "{{query}}"</h6><br>
            <div class="row">
                {% for item in products %}
                <div class="col-lg-3 col-md-4 mb-5">
                    <div class="card border-0 rounded-3 shadow" style="width: 200px;">
                        <img class="card-img-top img-fluid" src="{{ item.image1.url }}" alt="{{ item.ProductName }}" style="max-height: 200px;max-width:200px">
                        <div class="card-body d-flex flex-column align-items-center">
                          <p class="card-text">
                            <span style="color: gray; font-size: 11px;">{{ item.SubCategoryID }}</span>
                        </p>
                            <a style="text-decoration: none; color: black;" href="{% url 'productsview' item.SubCategoryID item.ProductName %}">
                                <p class="card-title text-center">{{ item.ProductName }}</p>
                            </a>
                            
                            <p class="card-text">
                                <span style="color: black; font-size: 15px;">Rs. {{ item.selling_price }}</span>
                                <span style="margin-left: 10px; color: gray;"><s>Rs. {{ item.original_Price }}</s></span>
                            </p>
                            <a href="{% url 'productsview' item.SubCategoryID item.ProductName %}" class="btn btn-dark mt-auto mx-auto" style="margin-top: 15px;width:100%;font-size: smaller;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: #bdb9b9;">View Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>


{% endblock %}
