{% extends "base.html" %}
{% load static %}
{% block content %}




<head>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<section class="vh-80"style="background-image: url({% static 'images/background-pattern.jpg' %});">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="{% static 'images/skinluxe_seller2.png' %}"
          class="img-fluid" alt="Sample image">
      </div>
      
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h2 style="text-align: center;">Seller Login</h2>
        <form method="post" style="background-color: #ffffff; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 30px;">
          {% csrf_token %}
          {% load crispy_forms_tags %}
          {{ form|crispy }}

          <div style="display: flex; align-items: center;" class="mb-3">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
            <label class="form-check-label" for="form2Example3">
              Remember me
            </label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'seller_signup'%}"
                class="link-danger">Register</a></p>
          </div>
          {% if error_message %}
          <p style="color: red; margin-top: 10px;">{{ error_message }}</p>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
